{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
 	<div class="container">
 		<h1 style="text-align: center;">Welcome to Toy world!</h1>
        <form method="POST"  action="{% url 'login' %}">
			{% csrf_token %}
    		<div class="row">
            	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            	</div>
    	     	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
    	     		{{ form|crispy }}
                    <br><button class="btn btn-primary" type="submit">Login</button><br>
                    <a class='password-link' href="#">Forgot Password or Username</a>
                </div>
    	    </div>
	     </form>
	</div>
{% endblock %}


